.content {
	background-color: #c6e2ff; 
}

/**/
.heading {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	color:black;
	text-align:center;
	font-family: brandon-grotesque,"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5b5b5b;
	font-size: 20px;
}

.heading p {
	color: #5b5b5b;
	
}

.input_box {
	display: flex;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 0 1px #fff;
}

input[type=text]:focus {
    color: #ee6123;
    /*border-radius: 5px;*/
	display: inline-block;
	box-shadow: 0 0 0 1px #FFA500;
	background-color: #F8F8FF; 
}

input[placeholder]{
	color:  #D3D3D3;
}


#long_input{
	padding: 15px;
	width: 550px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	/*background-color: #fff;*/
	/*box-shadow: 0 0 0 1px #fff;*/
	border: 0 !important;
}


#button{
	flex: 1;
	padding: 15px;
	width: 100px;
	height: 50px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-family: brandon-grotesque,"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	border: 0 !important;
	box-shadow: 0 0 0 1px #ee6123;
	color: #ffffff;
	background-color: #ee6123;
}

.output_table{
	margin-left: 32%;
	margin-right: 32%;
	border: 1px solid #ffa500;
	border-collapse: collapse;
}

th, td {
	padding:10px;
	text-align: left;
}


th {
	background-color: #ffa500;
	color: white;
}

td {
	color:#5b5b5b;
}


tr:hover {
	background-color: #f5f5f5} 
}



/*. is for class # is for id*/

/*#button{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	font-weight: 500;
	font-family: brandon-grotesque,"Helvetica Neue", Helvetica, Arial, sans-serif;
	box-shadow: 0 0 0 1px #ee6123;
	text-rendering: optimizeLegibility;
	border: 0 !important;
	background: #fff;
	color: #fff;
	background-color: #ee6123;
}
*/