<div class = "Heading">
<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>
</div>
<form action="/urls" method="post">
	Enter URL:
	<input type ="text" name="long_url">
	<input type="submit"  value="Submit">
</form>

<% unless @url.nil? %> 
	<table border="1" style="width:50%">
	  <tr>
	    <th>Long URL</th>
	    <th>Short URL</th>
	    <th>Click Count</th>>
	  </tr>
	 
	  <tr>  
		<td><%= @url.long_url %></td>
		<td><a href = "/<%= @url.short_url %>">
			<%= @url.short_url %>
			</a></td>
		<td><%= @url.click_count %></td>
	  </tr>	  
	</table>
 <% else %>
 	<p>Please enter a valid url</p>>
 <% end %>

